---
import CardComponent from "../components/CardComponent.astro";
import Layout from "../layouts/Layout.astro";
import { components } from "../data/bicicletas.json";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="text-6xl font-bold text-center">Bike Tracker</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5 p-4">
    {components.slice(0, 5).map((component) => (
      <CardComponent
        marca={component.marca}
        modelo={component.modelo}
        img={component.img}
        color={component.color}
        tipo={component.tipo}
        localizada={component.localizada}
      />
    ))}
  </div>
</Layout>
