---
import CardComponent from "../components/CardComponent.astro";
import Layout from "../layouts/Layout.astro";
import { components } from "../data/bicicletas.json";

// Ordenar componentes por fecha de registro, de más reciente a más antigua
const sortedComponents = components.sort((a, b) => 
  new Date(b.fechaRegistro).getTime() - new Date(a.fechaRegistro).getTime()
);
---

<Layout>
  <h1 class="text-6xl font-bold text-center">Bike Tracker</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5 p-4">
    {sortedComponents.slice(0, 15).map((component) => (
      <CardComponent
        marca={component.marca}
        modelo={component.modelo}
        img={component.img}
        color={component.color}
        tipo={component.tipo}
        localizada={component.localizada}
        fechaRegistro={component.fechaRegistro}
      />
    ))}
  </div>
</Layout>