---
import { Image } from "astro:assets";

interface Props {
  marca: string;
  modelo: string;
  img: string;
  color: string;
  tipo: string;
  localizada: string;
  fechaRegistro: string;
}

const { 
  marca, 
  modelo,  
  img, 
  color, 
  tipo, 
  localizada,
  fechaRegistro 
} = Astro.props;

// Formatear la fecha
const fechaFormateada = new Date(fechaRegistro).toLocaleDateString('es-ES', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
});
---

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 flex flex-col h-[500px] overflow-hidden">
    <a href="#" class="block h-64 overflow-hidden">
        <Image 
            src={img} 
            alt={`${marca} ${modelo}`} 
            width={300} 
            height={256} 
            class="rounded-t-lg w-full h-full object-cover object-center" 
        />
    </a>
    <div class="p-5 flex flex-col flex-grow justify-between">
        <div>
            <div class="flex justify-between items-center mb-2">
                <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white truncate max-w-[70%]">{marca} {modelo}</h5>
                {localizada === "si" && (
                    <span class="bg-green-100 text-green-800 text-xs font-medium ml-2 me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                        Localizada
                    </span>
                )}
            </div>
            <div class="mb-3 font-normal text-gray-700 dark:text-gray-400 space-y-1">
                <p class="truncate">Tipo: {tipo}</p>
                <p class="truncate">Color: {color}</p>
                <p class="truncate">Fecha de registro: {fechaFormateada}</p>
            </div>
        </div>
    </div>
</div>